<h3 mat-dialog-title>Busqueda de Contrincante</h3>
<mat-dialog-content>

  @if (data.opponents.length>0 && data.opponent_id!=null ){
  <mat-form-field class="form-field">
    <mat-label>Oponente</mat-label>
    <mat-select  [(value)]="opponent_id">
      @for (e of data.opponents   ; track e) {
        <mat-option [value]="e.id">                  
          {{e.name }} </mat-option>
      }
      
    </mat-select>
  </mat-form-field>
  }
 
 
     
         


</mat-dialog-content>

<mat-dialog-actions class="dialog-actions" >
   
    @if (data.opponent_id==null ){

      <button mat-button mat-dialog-close class="button" (click)="clickEnable()">Activar Busqueda</button>
  
    }
    @else{
  
      <button mat-button mat-dialog-close class="button" (click)="clickDisable()">Desactivar Busqueda</button>
      
    }

    @if (data.opponents.length>0 ){

    <button mat-button mat-dialog-close class="button"  cdkFocusInitial (click)="clickSave()">Guardar</button>
   }
    <button mat-button mat-dialog-close class="button" (click)="close()">Close</button>


</mat-dialog-actions>
