<h3 mat-dialog-title>Modificar Contrincante</h3>
<mat-dialog-content>

  

      <mat-radio-group aria-label="Select an option"  [(ngModel)]="opponent_id" >
        <mat-radio-button [value]="-1"> En busqueda</mat-radio-button>
        <mat-radio-button [value]="null" >No asignado</mat-radio-button>

        @if (show ){
        <mat-radio-button [value]="data.opponent_id" >{{data.opponent_name}}</mat-radio-button>
       }

      </mat-radio-group>
     
         


</mat-dialog-content>

<mat-dialog-actions class="dialog-actions" >
    <button mat-button mat-dialog-close class="button" (click)="close()">Close</button>
    <button mat-button mat-dialog-close class="button"  cdkFocusInitial (click)="save()">Save</button>
</mat-dialog-actions>
