.main-layout{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    /*border: 4px solid rgb(125, 9, 148);*/

}

.content{
width: 70%;
/*border: 4px solid rgb(208, 226, 43);*/
/*overflow-x: scroll;*/
}
